*{
  box-sizing: border-box ; 
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  color: #0F0F0F;
}

a:link {
  color: #0F0F0F;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #0F0F0F;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #0F0F0F;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #0F0F0F;
  background-color: transparent;
  text-decoration: none;
}

/* NAV */
/* NAV */
.nav_main{
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 2vh 0;
}

.nav_main_ul{
  display: flex;
  justify-content: space-around;
  width: 40vw;
}

.nav_main_li{
  display: inline-block;
}

.nav_main_li_on > a{
  border: 1px solid black;
}

.nav_main_a{
  border-radius: 5px;
  padding: .5rem 1rem;
}
/* NAV */
/* NAV */