body{
    background-image: url("/assets/forest_de_enzo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;  
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

h2{
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 60px;
    left: 2px;
    font-size: 3rem;
}

.nav_main_li_on > a{
    border: 1px solid #F5F4F4 !important;
    color: #F5F4F4
  }
  
  .nav_main_li > a{
    color: #F5F4F4
  }  

.triangulo{
width: 0;
height: 0;
border-top: 20rem solid transparent;
border-left: 60rem solid white;
border-bottom: 6px solid transparent;
display: flex;
flex-wrap: wrap;
align-items: flex-end;
position: fixed; 
bottom: -1px;
transform: rotate(0.5deg);
overflow: visible;
align-self: flex-end;
}

body{
    height: 100%;
}

/* footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: forestgreen;
    color: white;
    text-align: center;
} */

.frase{
  padding: .5rem;
}

@media (max-width: 1050px){
body{
  background-position: 25% 0%;  
}
}