body{
  /* git subio el link? */
    background-image: url("/grupo/assets/forest_de_enzo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;  
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.explain{
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 60px;
    left: 2px;
    font-size: 2em;
    text-align: center;
}

.copy{
    display: flex;
    position: fixed;
    bottom: 8px;
    left: 2px;
}

.triangulo{
    width: 0px;
    height: 0px;
    border-top: 20rem solid transparent;
    border-left: 100rem solid rgba(245, 244, 244, 0.9);
    border-bottom: 6px solid transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: fixed; 
    bottom: -1px;
    transform: rotate(0.5deg);
    overflow: visible;
    align-self: flex-end;
}

body{
    height: 100%;
}
