body{
  background-color: #211E20;
  width: 100vw;
}

.nav_main_li_on > a{
  border: 1px solid #F5F4F4 !important;
  color: #F5F4F4
}

.nav_main_li > a{
  color: #F5F4F4;
  height: 2rem;
}

/* first view */
.bg_black{
  width: 100vw;
  height: auto;
  background-color: #211E20;
  color: #F5F4F4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.four_box{
  width: 40vw;
  border: #F5F4F4 1px solid;
  border-radius: 10px;
  margin: 5rem;
}

.four_box > h2{
  background-color: #F5F4F4;
  border: #F5F4F4 1px solid;
  border-radius: 5px;
  padding: 1rem 4rem;
}

.four_box > p{
  color: #F5F4F4;
  padding: 4rem;
}

.white_box{
  background-color: #F5F4F4;
  width: 90vw;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.white_text>h2, .white_text>p{
  color:  #F5F4F4;
}

/* responsive */

@media (max-width: 700px){
  .bg_black{
    width: 100vw;
    background-color: #211E20;
    color: #F5F4F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
  }
  

  .four_box{
    width: 60vw;
    border: #F5F4F4 1px solid;
    border-radius: 10px;
    margin: 1rem;
  }

  .four_box > h2{
    background-color: #F5F4F4;
    border: #F5F4F4 1px solid;
    border-radius: 5px;
    padding: 1rem 1rem;
  }
  
  .four_box > p{
    color: #F5F4F4;
    padding: 1rem;
  }
}

/* second view */
.bg_white_one{
  background-color: #F5F4F4;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.bg_white_one>h2, .bg_white_one>h3{
  padding: 1rem;
}

.img_bg_black{
  background-color: #211E20;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* responsive */
@media (max-width: 700px){
  .img_bg_black_width{
    width: 70vw;
  }
}

/* third view */

.bg_hybrid_h{
  display: flex;
}

.white_box_hybrid_one_h{
  background-color: #F5F4F4;
  /* font-size: 1.5rem; */
  width: 50vw;
  padding: 2rem;
}

.white_box_hybrid_one_h>h2{
  padding: 1rem;
}
.white_box_hybrid_one_h>p{
  padding: 2rem;
}

.white_box_hybrid_two_h{
  padding: 2rem;
  border-radius: 20px;
  /* font-size: 1.5rem; */
  color: #F5F4F4;
  width: 50vw;
}

.white_box_hybrid_two_h>h2{
  padding: 1rem;
  color: #F5F4F4;
}
.white_box_hybrid_two_h>p{
  padding: 2rem;
  color: #F5F4F4;
}

/* responsive */
@media (max-width: 700px){
  .white_box_hybrid_one_h{
    background-color: #F5F4F4;
    width: 50vw;
    padding: 1rem;
  }
  
  .white_box_hybrid_one_h>h2{
    padding: .5rem;
  }
  .white_box_hybrid_one_h>p{
    padding: 1rem;
  }
  
  .white_box_hybrid_two_h{
    padding: 1rem;
    border-radius: 20px;
    color: #F5F4F4;
    width: 50vw;
  }
  
  .white_box_hybrid_two_h>h2{
    padding: .5rem;
    color: #F5F4F4;
  }
  .white_box_hybrid_two_h>p{
    padding: 1rem;
    color: #F5F4F4;
  }
  
}

/* 4 view */

.bg_sidetext{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #F5F4F4;
  padding: 5vh 0;
}

.texto_del_demonio{
  /* position: relative;
  left: -48vw; */
  transform: rotate(90deg);
  padding: 2rem;
  translate: 0 -28vh;
}

.texto_del_demonio>h3{
  color: #588157;
  font-size: 6rem;
  letter-spacing: .8rem;
  width: 1rem;
  font-weight: 400;
}

.main_box_view_four{
  border: #211E20 1px solid;
  border-radius: 10px;
  display: flex;
  width: 44vw;
}

.box_two{
  background-color: #211E20;
  border-radius: 0px 10px 10px 0px;
  height: 50vh;
}

.icon_greenink{
  height: 6rem;
}

.img_white_ic{
  padding: 1rem 0 0 1rem;
}

.img_black_ic{
  padding: 1rem 1rem 0 0;
  display: flex;
  justify-content: flex-end
}

.text_box_one{
  padding: 3rem ;
}

.text_box_two{
  background-color: #211E20;
  padding: 3rem ;
}

.box_one>div>p{
  width: 22vw;
}

.box_two>div>p{
  color: #F5F4F4;
  width: 22vw;
}

.paleta_colors{
  display: flex;
  flex-flow: column;
  height: 60vh;
  width: 5vw;
  border: 1px solid #211E20 ;
  border-radius: 30px 0 0 30px;
}

.colour_one{
  background-color: #E5E4D5;
  border: 1px solid #211E20;
  height: 25%;
  border-radius: 30px 0 0 0px;
}

.colour_two{
  background-color: #1C3F39;
  border: 1px solid #211E20;
  height: 25%;
}

.colour_three{
  background-color: #211E20;
  border: 1px solid #211E20;
  height: 25%;
}

.colour_four{
  background-color: #F5F4F4;
  border: 1px solid #211E20;
  height: 25%;
  border-radius: 0 0 0 30px;
}

/* responsive */
@media (max-width: 1600px){
  
  .texto_del_demonio{
    translate: 0 -28vh;
  }
  
  .texto_del_demonio>h3{
    letter-spacing: .8rem;
  }
  
  .box_two{
    height: auto;
  }

  .text_box_two{
    background-color: #211E20;
    padding: 3rem ;
  border-radius: 0 30px 30px 0;

  }

  .main_box_view_four{
    width: 70vw;
  }
  
  .box_one>div>p{
    width: 35vw;
  }
  
  .box_two>div>p{
    width: 35vw;
  }
}

@media (max-width: 700px){
  .bg_sidetext{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    background-color: #F5F4F4;
    padding: 0 0 3vh 0;
  }
  
  .texto_del_demonio{
    /* position: relative;
    left: -48vw; */
    transform: none;
    /* padding: 2rem; */
    translate: 0;
  }
  
  .texto_del_demonio>h3{
    color: #588157;
    font-size: 3.5rem;
    letter-spacing: .8rem;
    width: auto;
    font-weight: 400;
  }
  
  .main_box_view_four{
    border: #211E20 1px solid;
    border-radius: 30px;
    display: flex;
    flex-flow: column;
    width: 92vw;
  }

  .box_one{
    height: auto;
    width: 100%;
  }

  .box_two{
    height: auto;
    width: 100%;
    border-radius: 0 0 30px 30px;
  }

  .text_box_one_container{
    display: flex;
    justify-content: space-around;
  }

  .text_box_two_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .text_box_one{
    padding: .5rem ;
  }
  
  .text_box_two{
    background-color: #211E20;
    padding: .5rem ;
  }

  .box_one>div>p{
    width: 80vw;
    padding: 1rem;

  }
  
  .box_two>div>p{
    width: 80vw;
    padding: 1rem;
  }


  .paleta_colors{
    margin: 2rem;
    display: flex;
    flex-flow: row;
    height: 10vh;
    width: 92vw;
    border: 1px solid #211E20 ;
    border-radius: 30px ;
  }
  
  .colour_one{
    background-color: #E5E4D5;
    border: 1px solid #211E20;
    height: auto;
    width: 25%;
    border-radius: 30px 0 0 30px;
  }
  
  .colour_two{
    background-color: #1C3F39;
    border: 1px solid #211E20;
    height: auto;
    width: 25%;
  }
  
  .colour_three{
    background-color: #211E20;
    border: 1px solid #211E20;
    height: auto;
    width: 25%;
  }
  
  .colour_four{
    background-color: #F5F4F4;
    border: 1px solid #211E20;
    height: auto;
    width: 25%;
    border-radius: 0 30px 30px 0;
  }
}

/* five view */

.bg_white_five{
  background-color: #F5F4F4;
  padding: 2vh 2vw;
}

.main_box_five{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 4vh 5vw 5vh 5vw;
  margin: 4vh 5vw 5vh 5vw;
  border: #211E20 1px solid;
  border-radius: 10px;
}

.img_organigrama{
  background: #211E20;
  padding: 1vh;
  border-radius: 10px;
  margin: 1vh;
}

.text_five{
  padding: 5vh 2vw;
}

.derechos_ai{
  font-size: 1.5rem;
  margin: 2vh 0;
}

.ayuda2:hover{
  color: #211e20cc;
}

/* responsive */
@media (max-width: 700px){
  .img_organigrama{
    width: 70vw;
  }
}

/* last view */

.last_box{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: calc(100vh - 4.5rem - 4vh);
}

.titulo_last_view{
  color: #F5F4F4;
  font-size: 2rem;
  padding: 2rem 0;
}

.box_container_equipo{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 50vh;
  width: 20vw;
  border: #F5F4F4 2px solid;  
  border-radius: 16px;
  padding: 1rem;
  transition: .3s ease;
}

.box_container_equipo>div>h2{
  color: #F5F4F4;
}

.box_container_equipo>h3{
  color: #F5F4F4;
}

.box_container_equipo:hover{
  background-color: #F5F4F4;
  width: 23vw;
  height: 60vh;
}

.box_container_equipo:hover > h3{
  color: #211E20;
}

.box_container_equipo:hover > h3 > a{
  color: #211E20;
}

.box_container_equipo:hover > .text_info {
  color: #211E20;
}

.box_container_equipo:hover > .div_nombre > .nombre{
  color: #211E20;
}

.box_img_equipo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

img{
  border-radius: 50%;
  max-width: auto;
  height: 20vh;
}


h3{
  font-size: 1rem;
  font-weight: 800;
}

.div_nombre{
  display: flex;
  justify-content: center;
}

.ayuda:link {
  color: #F5F4F4;
  background-color: transparent;
  text-decoration: none;
}

.ayuda:visited {
  color: #F5F4F4;
  background-color: transparent;
  text-decoration: none;
}

.ayuda:hover {
  color: #F5F4F4;
  background-color: transparent;
  text-decoration: none;
}

.ayuda:active {
  color: #F5F4F4;
  background-color: transparent;
  text-decoration: none;
}


@media (max-width: 1650px){

  .box_container_equipo:hover{
    background-color: #F5F4F4;
    width: 30vw;
    height: 60vh;
  }

  .last_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 3.5rem - 4vh);
    flex-flow: wrap row;
  }

  h1{
    transform: none;
  }

  .box_container_equipo{
    display: flex;
    flex-flow: wrap unset;
    justify-content: space-evenly;
    height: 60vh;
    width: 30vw;
    margin: 4vh 3vw;
    border: #F5F4F4 2px solid;  
    border-radius: 16px;
    padding: 1rem;
    transition: .3s ease;
  }
}

@media (max-width: 850px){

  .box_container_equipo:hover{
    width: 60vw;
  }

  .box_container_equipo{
    height: 60vh;
    width: 60vw;
  }
}

@media (max-width: 500px){

  .box_container_equipo:hover{
    width: 80vw;
  }

  .box_container_equipo{
    height: 60vh;
    width: 80vw;
  }
}